.background_wrapper {
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .h_wrapper {
    text-align: center;
    .h1 {
      display: inline-block;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      color: #4fb2ff;
      padding: 1rem 0;
    }
  }
  .hr {
    position: relative;
    width: 35rem;
    height: 0.1px;
    border: 1px solid rgba(239, 239, 239, 1);
    margin: 0 auto;
  }
  .content_wrapper {
    background-color: rgb(255, 255, 255);
    width: 33.3rem;
    margin: 0 auto;
    .content_text_wrapper {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 33.3rem;
      height: 100%;
      li {
        position: relative;
        width: 33.3rem;
        background-color: rgba(255, 255, 255, 1);
        margin: 0 auto;
        .profile_img_wrapper {
          width: 4.467rem;
          height: 4.4rem;
          background-color: rgb(255, 255, 255);
          display: inline-block;
        }
        .username_wrapper {
          display: inline-block;
          height: 4.4rem;
          width: 28.7rem;
          background-color: rgba(255, 255, 255, 1);
          span {
            height: 100%;
            display: inline-block;
            background-color: rgba(255, 255, 255, 1);
            width: 7rem;
            text-align: left;
            line-height: 3rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 4.1rem;
            color: rgba(124, 229, 212, 1);
            overflow: hidden;
          }
          .span_0 {
            padding-left: 0.7rem;
          }
          .span_1 {
            color: #99adb7;
            text-align: left;
          }
          .span_2 {
            float: right;
            color: #99adb7;
            width: auto;
          }
        }
        .text_wrapper {
          display: inline-block;
          box-sizing: border-box;
          margin-left:4.5rem;
          top: 4.4rem;
          padding-left: 0.7rem;
          background-color: rgba(255, 255, 255, 1);
          margin-bottom: 2.7rem;
        }
        .bottom_data_wrapper {
          display: flex;
          position: absolute;
          justify-content: space-between;
          bottom: 0rem;
          height: 2rem;
          width: 28.9rem;
          right: 0;
          background-color: rgb(255, 255, 255);
          span {
            display: inline-block;
            height: 100%;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 1.2rem;
          }
          .bottom_data_wrapper_ansnum {
            padding-left: 0.7rem;
            color: #99adb7;
            font-size: 1.2rem;
            line-height: 2rem;
          }
          .bottom_data_wrapper_great_wrapper {
            display: flex;
            .bottom_data_wrapper_great_wrapper_blank {
              width: 2rem;
            }
            span {
              color: #5c5b60;
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
  }
  .section_header_wrapper {
    padding-top: 0.7rem;
    width: 35.5rem;
    .section_header {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 140%;
      align-self: flex-start;
    }
  }
  .comments_wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-grow:1;
    height: 20rem;
    ul {
      padding: 0;
      list-style: none;
      width: 36rem;
      background-color: rgb(255, 255, 255);
      margin: 0 auto;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .comments_content_wrapper {
        padding-top: 1rem;
        position: relative;
        border-bottom: 2px solid #000;
        .profile_info_wrapper {
          display: flex;
          background-color: rgb(255, 255, 255);
          img,
          .profile_info_wrapper_img {
            display: inline-block;
            min-width: 3.6rem;
            min-height: 3.6rem;
            max-height: 3.6rem;
            max-width: 3.6rem;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
          }
          span {
            padding-left: 0.8rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 1.7rem;
          }
        }
        .comments_text_wrapper {
          display: inline-block;
          position: relative;
          background-color: rgb(255, 255, 255);
          width: 30rem;
          left: 4.3rem;
          top: -1.5rem;
          span {
            display: inline-block;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 1.7rem;
            width: 30rem;
            word-wrap: break-word;
            background-color: rgb(255, 255, 255);
            line-height: 3rem;
            margin:1rem 0;
          }
        }
      }
      .comments_end_wrapper {
        border-top: rgb(125, 132, 139) 1rem solid;
        border-bottom: rgb(125, 132, 139) 1rem solid;
        height: 100rem;
        width: 100%;
        position: relative;
        bottom: 0rem;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 140%;
        color: #99adb7;
      }
    }
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100%;
}
