.fab_wrapper {
  height: 2.4rem;
  width: 2.4rem;
  background-color: rgba(79, 178, 255, 1);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  color: aliceblue;
  top:17rem;
  right: 1rem;
  box-shadow: .1rem .1rem 10px rgb(102, 78, 78);
  border: 1px solid rgba(79, 178, 255, 1);
}
