.text_box_wrapper {
  line-height: floor($number: 0);
  display: inline-block;
  position: relative;
  top: -1.2rem;
  filter: drop-shadow(0 0 0.47rem rgb(153, 150, 150));
  ._blank {
    width: 1.386rem;
    height: 1.2rem;
    display: inline-block;
  }
  .triangle {
    position: relative;
    left: 1.3rem;
    display: inline-block;
    border-width: 1.2rem 0.77rem;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    height: 0px;
    width: 0px;
    z-index: 2;
  }
  .triangle::before {
    position: relative;
    left: 1.3rem;
    display: inline-block;
    border-width: 1.2rem 0.693rem;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    height: 0px;
    width: 0px;
    z-index: 2;
  }
  .text_box_hidden {
    text-align: center;
    width: 21rem;
    height: 3.6rem;
    background-color: rgba(255, 255, 255, 1);
    line-height: 3.6rem;
    padding-right: 0.6rem;
    border-radius: 0.2rem;
    span {
      background-color: rgb(255, 255, 255);
      width: 19rem;
      text-align: left;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  .text_box_showall{
    text-align: center;
    width: 21rem;
    background-color: rgba(255, 255, 255, 1);
    padding:0 0.3rem;
    border-radius: 0.2rem;
    span{
      background-color: rgb(255, 255, 255);
      width:20rem;
      min-height: 2.2rem;
      display: inline-block;
      text-align: left;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 1.4rem;
      word-wrap: break-word;
      line-height: 140%;
      padding:.5rem 0;
    }
  }
}
